body {
  margin: 0 auto;
	font-family: 'Galdeano', sans-serif;
	font-size: 100%;
  min-width: 800px; /*won't let page get narrower than this*/
}

.header {	
font-family: 'Dancing Script', cursive, bold;
font-size: 400%;
display: block;
margin-top: 0px;
margin-left: auto;   
margin-right: auto; 
padding-top: 10px;
padding-bottom: 10px;
border-bottom: solid;
border-color: #e04b00;
border-width: 3px;
text-align: center;
color: white;
background-color: #ff5500;
}

.header h1 {
font-size: 20%;
font-family: 'Source Sans Pro', sans-serif;
margin-bottom: .01px;
}

canvas.center {   
display: block;   
margin-left: auto;   
margin-right: auto; 
margin-top: 12px;
cursor: crosshair;
-webkit-user-select: none;
}

section {
background-color: white;
display: block;
width: 900px;
height: 900px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
}

section h1 {  /*spaces mean children (not nec. direct)*/
font-size: 120%;
margin-top: 12px;
display: inline;
}

#howto {
text-align: justify;
background-color: #DCDCDC;
padding: 10px;
border-radius: 15px;
margin-bottom: 20px;
}

.sentence {  /*period means class*/
background-color: white;
display: block;
border-width:2px;	
font-size: 150%;
width: 900px;
height: 200px;
margin-left: auto;
margin-right: auto;
}

#form { /*hash matches id*/
width: 900px;
height: 10px;

margin-left: 37px;
margin-right: auto;
margin-top: 12px;
}

#status {
margin-left: 37px;
font-family: 'Helvetica', sans-serif;
font-size: 80%;
color: blue;
margin-top: 12px;
}

input[type=text] {
font-family: 'Helvetica', sans-serif;
font-size: 70%;
width:400px;
}

button {
font-family: 'Helvetica', sans-serif;
font-size: 70%;
margin-right: 3px;
margin-top: 10px;
margin-bottom: 15px;
}

button#eraseall {
margin-left: 37px;
}
button#submit {
font-family: 'Helvetica', sans-serif;
font-size: 70%;
margin-left: 4px;
}






