<!DOCTYPE html>

  <!--Copyright Maria Pacana 2012. All rights reserved.-->

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Grapevine">
    <meta name="keywords" content="telestrations, telephone pictionary, grapevine">
    <link href='http://fonts.googleapis.com/css?family=Dosis|Dancing+Script:700|Galdeano' rel='stylesheet' type='text/css'>  
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>Grapevine</title>
    <link href="../resources/base.css" rel="stylesheet" type="text/css">
  </head>
	
  <body>
    <section>   
      <header>Grapevine</header>
       You've successfully opted out of all future Grapevine games. <br>
	     If you've changed your mind, send an email to info@grapevine-game.com.
    </section>	
  </body>
</html>

<!--
<!DOCTYPE html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Grapevine"/>
  <meta name="keywords" content="telestrations, telephone pictionary, grapevine"/>
	<link href='http://fonts.googleapis.com/css?family=Dosis|Dancing+Script|Galdeano' rel='stylesheet' type='text/css'>
  <title>Grapevine</title>
	<link href="../resources/base.css" rel="stylesheet" type="text/css"/>
</head>
		
<body>
	<section>
	
	  <header>  
      Grapevine
	  </header>	
	    You've successfully opted out of all future Grapevine games. <br>
	    If you've changed your mind, send an email to info@grapevine-game.com.
	   
	    <br>
	    Player id: <%= playerid %>
	    <br>
	    Games: <%= gamesturns %>
	    <br>
	    Opt-out token: <%= optout_token %>
  </section>
</body>
</html>-->
