<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Grapevine"/>
  <meta name="keywords" content="maria pacana, meryl pacana, grapevine"/>
  <link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400,400italic|IM+Fell+French+Canon:400,400italic' rel='stylesheet' type='text/css'>
  
  <title>Grapevine</title>
	<link href="../../resources/base.css" rel="stylesheet" type="text/css"/>
</head>
	
<body>
		<header class="header">  
      <h1>Grapevine</h1>
    </header>

		<section>   
			<h1>1. Your friend drew you this picture.</h1>
			<img src="<%= picdata %>">
			<br>
			<h1>2. What does the picture say?</h1>
			<div id = "form">Write a sentence:
					<input type="text" id="email">
					<button>Submit</button>
			</div>
			<span id = "status" width = "750" height = "10"></span> 

		</section>
		

</body>
</html>


