<!--Copyright Maria Pacana 2012. All rights reserved.-->

<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Grapevine"/>
  <meta name="keywords" content="telestrations, telephone pictionary, grapevine"/>
	<link href='http://fonts.googleapis.com/css?family=Dosis|Dancing+Script|Galdeano' rel='stylesheet' type='text/css'>
  <title>Grapevine</title>
	<link href="../resources/base.css" rel="stylesheet" type="text/css"/>
</head>
	
<body onload="onloadPicture()">
		<script type="text/javascript" src="../util.js"></script>
		<script type="text/javascript" src="../draw.js"></script>
		<body onload="onloadPicture">

		<section>   
			<header>  
      Grapevine
   		</header>
    
			<div id="howto">
			<img id="close" src="../images/close.png">
			Grapevine is a drawing game that you can play with your friends!  Create a caption for the drawing that your friend just drew.
			</div>
			<h1>1. Your friend drew you this picture.</h1>
			<img class="picture" src="<%= picdata %>">
			<br>
			<h1>2. Describe what you see!</h1>
      <input id="sentenceInput" class="sentence" type="text" maxlength=100>
			<button id="submitButton">Submit</button>
			<div id="status"></div>
			<br>
			<br>
		</section>
		

</body>
</html>


